*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

.container {
    max-width: 440px;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    width: 95px;
    height: 92px;
    font-size: 26px;
}

@media screen and (max-width: 400px) {
    .btn {
        width: 79px;
        height: 79px;
    }
}