*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

.container {
    max-width: 440px;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    width: 95px;
    height: 95px;
    font-size: 26px;
    position: relative;
}

@media screen and (max-width: 400px) {
    .btn {
        width: 79px;
        height: 79px;
    }
}

.btn-with-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}